@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}
h2 {
  position: relative;
  font-size: 6em;
  color: #222;
}
h2::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
}
